<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MinnPost</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <link type="text/css" rel="stylesheet" media="all" href="http://www.minnpost.com/sites/default/files/css/css_897efb6d6ab1b9493387993c479b5760.css" />
  <link type="text/css" rel="stylesheet" media="screen" href="http://www.minnpost.com/sites/default/files/css/css_3b9128a206079d05707d08a5098dd82c.css" />
  <link type="text/css" rel="stylesheet" media="print" href="http://www.minnpost.com/sites/default/files/css/css_de1cc6f6bd0846ffe89b17adf1e510de.css" />

  <!--[if IE]>
      <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?d" type="text/css" />
  <![endif]-->
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
</head>
<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right admin-nw admin-vertical admin-df  section-data section-data-id-2012 section-data-id-2012-id-05 section-data-id-2012-id-05-how-we-built-legislative-bill-explorer one-sidebar sidebar-right">
<div class="outside-embeddable-container">

  <!-- START: Embeddable -->
  <div class="node-body fieldlayout node-field-body">
    <style type="text/css">
      @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.css');
      @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.css');
    </style>
    
    <!-- START: To be inline CSS -->
    <style type="text/css">
      .outside-embeddable-container {
        max-width: 960px;
        margin: 0 auto;
      }
      
      .clear {
        clear: both;
      }
      
      .js-dependent,
      .hide {
        display: none;
      }
      
      .footnote {
        font-size: .75em;
        font-style: italic;
        color: #414141;
        margin-top: 1em;
      }
      
      #minnpost-election-map-2012-application {
        position: relative;
      }
      
      #map {
        width: 100%;
        height: 500px;
        float: left;
      }
      
      .side-column {
        float: left;
      }
      .side-column-inner {
        padding: 10px 10px 10px 20px;
      }
      
      .layer-switcher-container {
        margin-top: 1.5em;
      }
      .layer-switcher-container ul,
      .layer-switcher-container li {
        list-style: none;
        padding-left: 0;
      }
      .layer-switcher-container li a {
        padding: 2px 5px;
      }
      .layer-switcher-container li a.active {
        font-weight: bold;
        background-color: #e3e3e3;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
      }
      
      .map-popup-container {
        margin-top: 1.5em;
      }
      .map-popup-container ul,
      .map-popup-container li {
        list-style: none;
      }
      
      .map-popup-container .party-DFL,
      .map-popup-container .party-R,
      .map-popup-container .party-IP {
        width: 15px;
        height: 15px;
        margin-right: .75em;
        margin-top: 3px;
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
      .map-popup-container .party-DFL {
        background-color: #243746;
      }
      .map-popup-container .party-R {
        background-color: #641a1b;
      }
      .map-popup-container .party-IP {
        background-color: #7B7B7B;
      }
      
      .candidate-name {
        text-transform: capitalize;
      }
    </style>
    <!-- END: To be inline CSS -->
    
    <!--[if lte IE 8]>
      <style type="text/css">
        @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.ie.css');
        @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.ie.css');
      </style>
    <![endif]-->
    
    <div id="minnpost-election-map-2012-application">
      <div id="map"></div>
      
    </div>
    
    <br class="clear" />
    <p class="footnote">Candidate data from the <a href="http://candidates.sos.state.mn.us/" target="_blank">Office of the Minnesota Secretary of State</a>.  Geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a>.  </p>
    
    <p class="footnote">* Political leaning was calculated by averaging the percentage point advantage of each party's candidates for State House across the 2006, 2008 and 2010 elections. The method is explained in <a href="/data/2012/04/calculating-political-lean-new-legislative-districts">'Calculating political lean of new legislative districts'</a>.</p>
    
    <!-- Templates to be used in client side processing. -->
    <script id="template-side-column" type="text/template">
      <div class="side-column">
        <div class="side-column-inner">
          <div class="search-address-container">
            <h4>Search address</h4>
            <form id="search-address-form" action="#" class="search-form">
              <input type="text" id="search-address-input" class="form-text" />
              <input type="submit" id="search-address-submit" class="form-submit" value="search" />
            </form>
            <div class="search-status"></div>
          </div>
          
          <div class="layer-switcher-container">
          </div>
          
          <div class="map-popup-container">
            <p class="footnote">Click on a district to see current candidates.</p> 
          </div>
        </div>
      </div>
    </script>
    <script id="template-layer-switcher" type="text/template">
      <h4>Choose districts</h4>
      <ul>
        <% for (var l in layers) { %>
          <li><a href="#" 
            class="<% if (!_.isUndefined(layers[l].active) && layers[l].active === true) { %>active<% } %>" 
            data-id="<%= l %>"><%= l %></a></li>
        <% } %>
      </ul>
    </script>
    <script id="template-popup-contents" type="text/template">
      <h4><%= title %></h4>
      <% if (tileData.RPVI !== undefined) { %>
        <div class="pvi">Political leaning*: <em><%= tileData.RPVI %></em></div>
      <% } %>
      <% if (!_.isEmpty(cands)) { %>
        <ul>
          <% var groups = _.groupBy(cands, 'party'); %>
          <% var groups = _.sortBy(groups, function(g) { return g[0].party; }); %>
          <% for (var g in groups) { %>
            <% var gCands = _.sortBy(groups[g], 'candidate'); %>
            <% for (var c in gCands) { %>
              <li>
                <span class="party-<%= gCands[c].party %>"></span>
                <span class="candidate-name">
                  <% if (_.isString(gCands[c].website) && gCands[c].website !== '') { %>
                    <a href="http://<%= gCands[c].website %>" target="_blank"><%= gCands[c].candidate %></a>
                  <% } else { %>
                    <%= gCands[c].candidate %>
                  <% } %>
                </span>
                (<%= gCands[c].party %>)
              </li>
            <% } %>
          <% } %>
        </ul>
      <% } else { %>
        <div>No candidates found.</div>
      <% } %>
    </script>
  
    <!-- jQuery -->
    <script type="text/javascript">
      window.jQuery || document.write('<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/jquery-1.7.2/jquery-1.7.2.min.js"><\/script>')
    </script>
    <!-- Leaflet and wax for mapping -->
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/wax-v6.0.4/wax.leaf.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/underscore-1.3.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/backbone-0.9.2/backbone-min.js"></script>
    
    <!-- START: To be inline JS -->
    <script type="text/javascript">
      // A place for our globals
      window.MinnPost = window.MinnPost || {};
      
      (function(window, $, undefined) {
        var MapView = window.MinnPost.MapView = Backbone.View.extend({
          // Easy place for options
          options: {
            'mapOptions': {
              'minZoom': 3,
              'maxZoom': 12
            },
            'mapID': 'map',
            'mapDefaultCenter': new L.LatLng(46.49839225859763, -93.6474609375),
            'mapDefaultZoom': 6,
            'mapDefaultLayer': 'Minnesota State House Districts',
            'mapMNBounds': [43.499356, -97.239209, 49.384358, -89.489226],
            'mapGeocodeURL': 'http://open.mapquestapi.com/nominatim/v1/search?format=json&json_callback=?&countrycodes=us&limit=1&q=',
            'applicationSelector': '#minnpost-election-map-2012-application',
            'candidateScraperURL': 'https://api.scraperwiki.com/api/1.0/datastore/sqlite?format=jsondict&name=minnesota_registered_candidates&query=select%20*%20from%20%60swdata%60%20&callback=?',
            'boundaryURL': 'http://boundaries.minnpost.com/1.0/boundary/?sets=minnesota-state-house-districts,minnesota-state-senate-districts&callback=?&contains=',
            'translateLayerToBoundary': {
              'Minnesota State House Districts': 'Minnesota State House district',
              'Minnesota State Senate Districts': 'Minnesota State Senate district'
            },
            'translateLayerToDistrict': {
              'Minnesota State House Districts': 'State Representative District ',
              'Minnesota State Senate Districts': 'State Senator District '
            }
          },
          
          // Some placeholders
          candidates: {},
          mapLayers: {},
          mapTileJSON: {},
          mapOverlays: {},
          
          // Default marker
          marker: new L.CircleMarker(new L.LatLng(0, 0), {
            'color': '#197F10',
            'weight': 2,
            'opacity': 0.9,
            'fillColor': '#26C318',
            'fillOpacity': 0.5,
            'radius': 8,
            'clickable': false
          }),
          
          // Init funciton
          initialize: function() {
            this.loadCandidates();
            this.drawMap();
            this.drawSide();
            this.initAddressSearch();
            
          },
          
          // Clear marker off map
          clearMarker: function() {
            if (this.marker !== undefined && this.map !== undefined) {
              this.map.removeLayer(this.marker);
            }
          },
          
          // Address found
          renderAddressFound: function() {
            if (this.addressFound === undefined || _.isEmpty(this.addressFound)) {
              return this;
            }
            var point = new L.LatLng(this.addressFound.lat, this.addressFound.lon);
            var b;
            var boundary;
            var district;
            var template;
            var $popup = $('.map-popup-container');
            
            // Place marker
            this.lastFound = 'address';
            this.marker.setLatLng(point);
            this.map.setView(point, 10);
            this.map.addLayer(this.marker);
            
            // Determine district
            boundary = this.options.translateLayerToBoundary[this.currentLayer];
            district = this.options.translateLayerToDistrict[this.currentLayer];
            for (b in this.addressFound.boundaries.objects) {
              if (this.addressFound.boundaries.objects[b].kind == boundary) {
                template = _.template($("#template-popup-contents").html(), {
                  tileData: {},
                  cands: this.getCandidates(district + this.addressFound.boundaries.objects[b].name),
                  title: district + this.addressFound.boundaries.objects[b].name
                });
                
                $popup.html(template);
                $popup.fadeIn('fast');
              }
            }
            
            return this;
          },
          
          // Load candidates
          initAddressSearch: function() {
            var thisView = this;
              
            $('form#search-address-form').submit(function(e) {
              e.preventDefault();
              var address = $('input#search-address-input').val();
              if (address == '') {
                return;
              }
              
              $('.search-status').removeClass('error').html('Searching...');
            
              // Geocode address using Mapquest becuase its terms of service are more open,
              // though its geocoding is not the best.
              $.getJSON(thisView.options.mapGeocodeURL + encodeURI(address), function(value) {
                var mnBounds = thisView.options.mapMNBounds;
                value = value[0];
                if (value === undefined) {
                  thisView.showAddressStatus('error', 'We were unable turn your search terms, ' + address + 
                    ', into a geographical location.  Please be more specific, such as including ZIP code.');
                }
                // Check we are still mostly in Minnesota
                else if (value.lat < mnBounds[0] || value.lat > mnBounds[2] || 
                  value.lon < mnBounds[1] || value.lon > mnBounds[3]) {
                  thisView.showAddressStatus('error', 'Sorry, but what you are looking for is outside of Minnesota.');
                }
                else {
                  // Use boundary service
                  $.getJSON(thisView.options.boundaryURL + encodeURI(value.lat) + ',' + encodeURI(value.lon), function(data) {
                    if (data.meta.total_count === undefined || data.meta.total_count === 0) {
                      thisView.showAddressStatus('error', 'Sorry, we were unable to determine the district from that address.');
                    }
                    else {
                      $('.search-status').fadeOut('fast');
                      thisView.addressFound = {
                        lat: value.lat,
                        lon: value.lon,
                        boundaries: data
                      };
                      thisView.clearMarker();
                      thisView.renderAddressFound();
                    }
                  });
                }
              });
              
              return this;
            });
          },
          
          // Status and erros for address search
          showAddressStatus: function(type, status) {
            $('.search-status').html(status);
            $('.search-status').fadeIn('fast');
            if (type == 'error') {
              $('.search-status').addClass('error');
            }
            else {
              $('.search-status').removeClass('error');
            }
            return this;
          },
          
          // Load candidates
          loadCandidates: function() {
            var thisView = this;
            $.getJSON(thisView.options.candidateScraperURL, function(candData) {
              thisView.candidates = candData;
            });
            
            return this;
          },
          
          // Get Candidates
          getCandidates: function(office) {
            var found = [];
          
            if (!_.isEmpty(this.candidates)) {
              found = _.filter(this.candidates, function(cand) {
                return (cand.office == office) ? true : false;
              });
            }
            return found;
          },
          
          // Handles drawing layer switcher content
          drawLayerSwitcher: function() {
            var thisView = this;
            // For each data layer, add link
            var template = _.template($("#template-layer-switcher").html(), {
              layers: this.mapOverlays,
              defaultLayer: this.options.mapDefaultLayer
            });
            $('.layer-switcher-container').append(template);
            
            // Click events
            $('.layer-switcher-container li a').click(function(e) {
              e.preventDefault();
              var thisLayer = $(this).attr('data-id');
              var l;
              
              if (thisLayer == thisView.currentLayer) {
                return;
              }
              thisView.currentLayer = thisLayer;
              
              // Hide popup
              $('.map-popup-container').fadeOut('fast');
              
              // Handle list classes
              $('.layer-switcher-container li a').removeClass('active');
              $(this).addClass('active');
              
              // Go through layers and hide others and remove interactions
              for (l in thisView.mapOverlays) {
                if (l != thisLayer) {
                  thisView.map.removeLayer(thisView.mapOverlays[l].layer);
                  thisView.mapOverlays[l].interaction.remove();
                }
              }
              
              // Show the one we want;
              thisView.map.addLayer(thisView.mapOverlays[thisLayer].layer);
              thisView.mapOverlays[thisLayer].interaction.map(thisView.map);

              // Add labels on top
              thisView.map.removeLayer(thisView.mapOverlayKeepTop);
              thisView.map.addLayer(thisView.mapOverlayKeepTop);
              
              // If last found is address, re-render address, otherwise
              // remove marker
              if (thisView.lastFound !== undefined && thisView.lastFound == 'address') {
                thisView.renderAddressFound();
              }
              else {
                thisView.clearMarker();
              }
            });
            
            return this;
          },
          
          // Handles drawing side view
          drawSide: function() {
            var template = _.template($("#template-side-column").html(), { });
            $(this.options.applicationSelector).append(template);
            
            // Move map over, and append
            $('#map').css({ width: '60%' });
            $('.side-column').css({ width: '40%', float: 'left' });
            this.map.invalidateSize();
            
            return this;
          },
          
          // Handles drawing map
          drawMap: function() {
            var thisView = this;
            this.clickCount = 0;
            
            this.map = new L.Map(this.options.mapID, this.options.mapOptions);
            this.addMapLayers();
            this.map.setView(this.options.mapDefaultCenter, this.options.mapDefaultZoom);
            //this.map.addControl(new L.Control.Fullscreen());
            
            // Move attributioin to footnotes
            this.map.attributionControl.setPrefix('');
            $('.footnote').first().html($('.footnote').html() + ' ' + this.map.attributionControl._container.innerHTML);
            this.map.removeControl(this.map.attributionControl);
            
            // Add a marker on click.  Hack around double click
            this.map.on('click', function(e) {
              // IE 7 does not like this at all, instead of hacking the hack,
              // IE7 users will just get a little off behavior with double
              // click
              if ($.browser.msie && $.browser.version == 7) {
                thisView.lastFound = 'click';
                thisView.clearMarker();
                thisView.marker.setLatLng(e.latlng);
                thisView.map.addLayer(thisView.marker);
              }
              else {
                thisView.clickCount += 1;
                if (thisView.clickCount <= 1) {
                  _.delay(function() {
                    if (thisView.clickCount <= 1) {
                      thisView.lastFound = 'click';
                      thisView.clearMarker();
                      thisView.marker.setLatLng(e.latlng);
                      thisView.map.addLayer(thisView.marker);
                    }
                    thisView.clickCount = 0;
                  }, 400);
                }
              }
            });
            
            return this;
          },
          
          // Map layers
          addMapLayers: function() {
            var thisView = this;
            var baselayers = {};
            var overlays = {};
            
            // Mapbox base layer
            this.mapLayers.mapboxBase = new L.TileLayer("http://{s}.tiles.mapbox.com/v3/zzolo.map-6m4vfqel/{z}/{x}/{y}.png", {
              attribution: 'Some map imagery from <a target="_blank" href="http://mapbox.com">Mapbox</a>', 
              subdomains: ['a', 'b', 'c', 'd']
            });
            this.map.addLayer(this.mapLayers.mapboxBase);
          
            // Minnnpost base map
            this.mapLayers.minnpostBase = new L.TileLayer('http://{s}.tiles.minnpost.com/minnpost-basemaps/' +
              'minnpost-minnesota-greyscale-no-labels/{z}/{x}/{y}.png', {
                attribution: 'Some map imagery from <a target="_blank" href="http://minnpost.com">MinnPost</a>, ' +
                  'Some map data from <a target="_blank" href="http://openstreetmap.org">OpenStreetMap</a>',
                scheme: 'tms'
              }
            );
            this.map.addLayer(this.mapLayers.minnpostBase);
            
            // Labels
            this.mapLayers.minnpostLabels = new L.TileLayer('http://{s}.tiles.minnpost.com/minnpost-basemaps/' +
              'minnpost-minnesota-greyscale-labels/{z}/{x}/{y}.png', {
                scheme: 'tms'
              }
            );
            this.mapOverlayKeepTop = this.mapLayers.minnpostLabels;
            
            // Add leg layer with TileJSON
            wax.tilejson('http://a.tiles.minnpost.com/minnpost-election-map-2012/mn-state-leg/tilejson.jsonp', 
              function(tilejson) {
              // Odd cache issue
              if (tilejson.name == 'Minnesota State Legislature Districts') {
                tilejson.name = 'Minnesota State House Districts';
              }
              
              thisView.mapTileJSON.legLayer = tilejson;
            
              // Create new layer and track data
              thisView.mapLayers.legLayer = new wax.leaf.connector(tilejson);
              thisView.mapOverlays[tilejson.name] = { layer: thisView.mapLayers.legLayer, active: true };
              thisView.currentLayer = tilejson.name;
              thisView.map.addLayer(thisView.mapLayers.legLayer);
              
              // Add interaction
              thisView.mapOverlays[tilejson.name].interaction = wax.leaf.interaction()
                .map(thisView.map)
                .tilejson(tilejson)
                .on({
                  on: function(e) {
                    if (e.e.type == 'mouseup') {
                      // Remove leading zero
                      if (e.data.DISTRICT.indexOf('0') === 0) {
                        e.data.DISTRICT = e.data.DISTRICT.slice(1);
                      }
                      var $popup = $('.map-popup-container');
                      var template = _.template($("#template-popup-contents").html(), {
                        tileData: e.data,
                        cands: thisView.getCandidates('State Representative District ' + e.data.DISTRICT),
                        title: 'State Representative District ' + e.data.DISTRICT
                      });
                      
                      $popup.html(template);
                      $popup.fadeIn('fast');
                    }
                  }
                });
            
              // Add leg layer with TileJSON
              wax.tilejson('http://a.tiles.minnpost.com/minnpost-election-map-2012/mn-state-sen/tilejson.jsonp', function(tilejson) {
                thisView.mapTileJSON.senLayer = tilejson;
            
                // Create new layer
                thisView.mapLayers.senLayer = new wax.leaf.connector(tilejson);
                thisView.mapOverlays[tilejson.name] = { layer: thisView.mapLayers.senLayer };
              
                // Add interaction
                thisView.mapOverlays[tilejson.name].interaction = wax.leaf.interaction()
                  .map(thisView.map)
                  .tilejson(tilejson)
                  .on({
                    on: function(e) {
                      if (e.e.type == 'mouseup') {
                        // Remove leading zero
                        if (e.data.DISTRICT.indexOf('0') === 0) {
                          e.data.DISTRICT = e.data.DISTRICT.slice(1);
                        }
                        var $popup = $('.map-popup-container');
                        var template = _.template($("#template-popup-contents").html(), {
                          tileData: e.data,
                          cands: thisView.getCandidates('State Senator District ' + e.data.DISTRICT),
                          title: 'State Senator District ' + e.data.DISTRICT
                        });
                        
                        $popup.html(template);
                        $popup.fadeIn('fast');
                      }
                    }
                  });
                // Remove
                thisView.mapOverlays[tilejson.name].interaction.remove();
                
                // Add labels
                thisView.map.addLayer(thisView.mapLayers.minnpostLabels);
                
                // Make layer switcher
                thisView.drawLayerSwitcher();
              });
            });
            
            return this;
          }
        });
        
        $(document).ready(function() {
          var electionMapView = new window.MinnPost.MapView();
        });
      })(window, jQuery);
    </script>
    <!-- END: To be inline JS -->
    
  </div>
  <!-- END: Embeddable -->

</div>
</body>
</html>