<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MinnPost</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <link type="text/css" rel="stylesheet" media="all" href="http://www.minnpost.com/sites/default/files/css/css_efc75eaad579035887d5e1ac11c00b78.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.minnpost.com/sites/default/files/css/css_b444460873a77de36d695396b0924929.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.minnpost.com/sites/default/files/css/css_f3f76e4e053f459547daa56b3627cfe3.css" />

  <!--[if IE]>
      <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?d" type="text/css" />
  <![endif]-->
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
</head>
<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right admin-nw admin-vertical admin-df  section-data section-data-id-2012 section-data-id-2012-id-05 section-data-id-2012-id-05-how-we-built-legislative-bill-explorer one-sidebar sidebar-right">
<div class="outside-embeddable-container">

  <!-- START: Embeddable -->
  <div class="node-body fieldlayout node-field-body">
    <style type="text/css">
      @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.css');
      @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.css');
    </style>
    
    <!-- START: To be inline CSS -->
    <style type="text/css">
      .outside-embeddable-container {
        max-width: 960px;
        margin: 0 auto;
      }
      
      .clear {
        clear: both;
      }
      
      .js-dependent,
      .hide {
        display: none;
      }
      
      .footnote {
        font-size: .75em;
        font-style: italic;
        color: #414141;
        margin-top: 1em;
      }
      
      #minnpost-election-map-2012-application {
        position: relative;
      }
      
      #map {
        width: 100%;
        height: 500px;
        float: left;
      }
      
      .side-column {
        float: left;
      }
      .side-column-inner {
        padding: 10px;
      }
    </style>
    <!-- END: To be inline CSS -->
    
    <!--[if lte IE 8]>
      <style type="text/css">
        @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.ie.css');
        @import url('https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.ie.css');
      </style>
    <![endif]-->
    
    <div id="minnpost-election-map-2012-application">
      <div id="map"></div>
      
    </div>
    
    <br class="clear" />
    <p class="footnote"></p>
    
    <!-- Templates to be used in client side processing. -->
    <script id="template-side-column" type="text/template">
      <div class="side-column">
        <div class="side-column-inner">
          <h3>Search</h3>
          <div class="search-address-container">
            <form class="search-address-form">
              <label for="search-address-input">Search address:</label>
              <input type="text" id="search-address-input" />
            </form>
          </div>
          
          <h3>Show districts</h3>
          <div class="layer-switcher-container">
          </div>
          
          <div class="map-popup-container">
          
          </div>
        </div>
      </div>
    </script>
    <script id="template-layer-switcher" type="text/template">
      <ul>
        <% for (var l in layers) { %>
          <li><a href="#" data-id="<%= l %>"><%= l %></a></li>
        <% } %>
      </ul>
    </script>
    <script id="template-popup-contents" type="text/template">
      <h3><%= tileData.DISTRICT %></h3>
      <ul>
        <% for (var c in cands) { %>
          <li>
            <% if (_.isString(cands[c].website) && cands[c].website !== '') { %>
              <a href="cands[c].website" target="_blank"><%= cands[c].candidate %></a> (<%= cands[c].party %>)
            <% } else { %>
              <%= cands[c].candidate %> (<%= cands[c].party %>)
            <% } %>
          </li>
        <% } %>
      </ul>
      <div>PVI: <%= tileData.RPVI %></div>
    </script>
  
    <!-- jQuery -->
    <script type="text/javascript">
      window.jQuery || document.write('<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/jquery-1.7.2/jquery-1.7.2.min.js"><\/script>')
    </script>
    <!-- Leaflet and wax for mapping -->
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/leaflet-master-20120531/leaflet.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/leaflet-addons-master-20120531/leaflet-addons.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/wax-v6.0.4/wax.leaf.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/underscore-1.3.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/backbone-0.9.2/backbone-min.js"></script>
    
    <!-- START: To be inline JS -->
    <script type="text/javascript">
      // A place for our globals
      window.MinnPost = window.MinnPost || {};
      
      (function(window, $, undefined) {
        var MapView = window.MinnPost.MapView = Backbone.View.extend({
          // Easy place for options
          options: {
            'mapOptions': {
              'minZoom': 3,
              'maxZoom': 12
            },
            'mapID': 'map',
            'mapDefaultCenter': new L.LatLng(46.49839225859763, -93.6474609375),
            'mapDefaultZoom': 6,
            'applicationSelector': '#minnpost-election-map-2012-application',
            'candidateScraperURL': 'https://api.scraperwiki.com/api/1.0/datastore/sqlite?format=jsondict&name=minnesota_registered_candidates&query=select%20*%20from%20%60swdata%60%20&callback=?'
          },
          
          // Some placeholders
          candidates: {},
          mapLayers: {},
          mapTileJSON: {},
          mapOverlays: {},
          mapInteractions: {},
          
          // Init funciton
          initialize: function() {
            this.loadCandidates();
            this.drawMap();
            this.drawSide();
            
          },
          
          // Load candidates
          loadCandidates: function() {
            var thisView = this;
            $.getJSON(thisView.options.candidateScraperURL, function(candData) {
              thisView.candidates = candData;
            });
          },
          
          // Get Candidates
          getCandidates: function(office) {
            var found = [];
          
            if (!_.isEmpty(this.candidates)) {
              found = _.filter(this.candidates, function(cand) {
                return (cand.office == office) ? true : false;
              });
            }
            return found;
          },
          
          // Handles drawing layer switcher content
          drawLayerSwitcher: function() {
            var thisView = this;
            // For each data layer, add link
            var template = _.template($("#template-layer-switcher").html(), { layers: this.mapOverlays });
            $('.layer-switcher-container').append(template);
            
            // Click events
            $('.layer-switcher-container li a').click(function(e) {
              e.preventDefault();
              var thisLayer = $(this).attr('data-id');
              var l;
              
              // Go through layers and hide others
              for (l in thisView.mapOverlays) {
                if (l != thisLayer) {
                  thisView.map.removeLayer(thisView.mapOverlays[l]);
                }
              }
              
              // Show the one we want;
              thisView.map.addLayer(thisView.mapOverlays[thisLayer]);

              // Add labels on top
              thisView.map.removeLayer(thisView.mapOverlayKeepTop);
              thisView.map.addLayer(thisView.mapOverlayKeepTop);
            });
          },
          
          // Handles drawing side view
          drawSide: function() {
            var template = _.template($("#template-side-column").html(), { });
            $(this.options.applicationSelector).append(template);
            
            // Move map over, and append
            $('#map').css({ width: '70%' });
            $('.side-column').css({ width: '30%', float: 'left' });
            this.map.invalidateSize();
          },
          
          // Handles drawing map
          drawMap: function() {
            this.map = new L.Map(this.options.mapID, this.options.mapOptions);
            this.addMapLayers();
            this.map.setView(this.options.mapDefaultCenter, this.options.mapDefaultZoom);
            this.map.addControl(new L.Control.Fullscreen());
            
            // Move attributioin to footnotes
            this.map.attributionControl.setPrefix('');
            $('.footnote').html($('.footnote').html() + ' ' + this.map.attributionControl._container.innerHTML);
            this.map.removeControl(this.map.attributionControl);
            
            return this;
          },
          
          // Map layers
          addMapLayers: function() {
            var thisView = this;
            var baselayers = {};
            var overlays = {};
            
            // Mapbox base layer
            this.mapLayers.mapboxBase = new L.TileLayer("http://{s}.tiles.mapbox.com/v3/zzolo.map-6m4vfqel/{z}/{x}/{y}.png", {
              attribution: 'Some map imagery from <a target="_blank" href="http://mapbox.com">Mapbox</a>', 
              subdomains: ['a', 'b', 'c', 'd']
            });
            this.map.addLayer(this.mapLayers.mapboxBase);
          
            // Minnnpost base map
            this.mapLayers.minnpostBase = new L.TileLayer('http://{s}.tiles.minnpost.com/minnpost-basemaps/' +
              'minnpost-minnesota-greyscale-no-labels/{z}/{x}/{y}.png', {
                attribution: 'Some map imagery from <a target="_blank" href="http://minnpost.com">MinnPost</a>, ' +
                  'Some map data from <a target="_blank" href="http://openstreetmap.org">OpenStreetMap</a>',
                scheme: 'tms'
              }
            );
            this.map.addLayer(this.mapLayers.minnpostBase);
            
            // Labels
            this.mapLayers.minnpostLabels = new L.TileLayer('http://{s}.tiles.minnpost.com/minnpost-basemaps/' +
              'minnpost-minnesota-greyscale-labels/{z}/{x}/{y}.png', {
                scheme: 'tms'
              }
            );
            this.mapOverlayKeepTop = this.mapLayers.minnpostLabels;
            
            // Add leg layer with TileJSON
            wax.tilejson('http://a.tiles.minnpost.com/minnpost-election-map-2012/mn-state-leg/tilejson.jsonp', function(tilejson) {
              thisView.mapTileJSON.legLayer = tilejson;
            
              // Create new layer
              thisView.mapLayers.legLayer = new wax.leaf.connector(tilejson);
              thisView.mapOverlays[tilejson.name] = thisView.mapLayers.legLayer;
              thisView.map.addLayer(thisView.mapLayers.legLayer);
              
              // Add interaction
              thisView.mapInteractions[tilejson.name] = wax.leaf.interaction()
                .map(thisView.map)
                .tilejson(tilejson)
                .on({
                  on: function(e) {
                    var $popup = $('.map-popup-container');
                    var template = _.template($("#template-popup-contents").html(), {
                      tileData: e.data,
                      cands: thisView.getCandidates('State Representative District ' + e.data.DISTRICT) 
                    });
                    
                    $popup.html(template);
                    $popup.fadeIn('fast');
                  },
                  off: function(e) {
                    $('.map-popup-container').fadeOut('fast');
                  }
                });
            
              // Add leg layer with TileJSON
              wax.tilejson('http://a.tiles.minnpost.com/minnpost-election-map-2012/mn-state-sen/tilejson.jsonp', function(tilejson) {
                thisView.mapTileJSON.senLayer = tilejson;
            
                // Create new layer
                thisView.mapLayers.senLayer = new wax.leaf.connector(tilejson);
                thisView.mapOverlays[tilejson.name] = thisView.mapLayers.senLayer;
                
                // Interation for leglayer
                /*
                wax.leaf.interaction()
                  .map(thisView.map)
                  .tilejson(tilejson)
                  .on(wax.tooltip().parent(thisView.map._container).events());
                */
                
                // Add labels
                thisView.map.addLayer(thisView.mapLayers.minnpostLabels);
                
                // Make layer switcher
                thisView.drawLayerSwitcher();
              });
            });
            
            return this;
          }
        });
        
        $(document).ready(function() {
          var electionMapView = new window.MinnPost.MapView();
        })
      })(window, jQuery);
    </script>
    <!-- END: To be inline JS -->
    
  </div>
  <!-- END: Embeddable -->

</div>
</body>
</html>